.회원가입
{
width:390px;
height:844px;
border-radius:40px;
padding:0px;
left:235px;
position:relative;
background-color:#393939;
}
.frame7
{
width:400px;
height:764px;
padding:0px;
display:flex;
flex-direction:column;
gap:15px;
top:49px;
position:relative;
}
.frame6
{
width:400px;
height:730px;
padding-left:5px;
padding-right:5px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
position:relative;
}
.content
{
align-self:flex-start;
left:5px;
top:10px;
position:absolute;
width:390px;
height:710px;
padding-left:30px;
padding-right:30px;
padding-top:16px;
padding-bottom:8px;
display:flex;
flex-direction:column;
gap:37px;
}
.frame5
{
width:338px;
height:422px;
padding:5px;
display:flex;
flex-direction:column;
gap:40px;
left:30px;
top:16px;
position:relative;
}
.가입하고364일의언버스데이즐기기👋
{
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:Manrope;
line-height:auto;
color:#ffffff;
top:5px;
left:5px;
position:absolute;
}
.frame4
{
width:328px;
height:270px;
padding:0px;
display:flex;
flex-direction:column;
gap:37px;
left:5px;
top:147px;
position:relative;
}
.frame2
{
width:328px;
height:179px;
padding:5px;
display:flex;
flex-direction:column;
position:absolute;
}
.group94
{
width:318px;
height:67px;
padding:0px;
left:5px;
top:5px;
position:absolute;
}
.email
{
text-align:left;
vertical-align:text-top;
font-size:13.999999046325684px;
font-family:Manrope;
line-height:auto;
color:#91d7e0;
box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle10
{
border-radius:10px;
width:318px;
height:41px;
background-color:#ffffff;
border:1px solid #c5c5c5;
top:26px;
left:0px;
position:absolute;
}
.sophat.leat@nintrea.live
{
text-align:left;
vertical-align:text-top;
font-size:13.999999046325684px;
font-family:Manrope;
left:11.51px;
top:36px;
width:88px;
height:19px;
position:absolute;
line-height:auto;
color:#b7b7b7;
}
.group95
{
width:318px;
height:67px;
padding:0px;
top:107px;
left:5px;
position:absolute;
}
.email2
{
text-align:left;
vertical-align:text-top;
font-size:13.999999046325684px;
font-family:Manrope;
line-height:auto;
color:#91d7e0;
}
.rectangle102
{
border-radius:10px;
width:318px;
height:41px;
background-color:#ffffff;
border:1px solid #c5c5c5;
top:26px;
left:0px;
position:absolute;
}
.sophat.leat@nintrea.live2
{
text-align:left;
vertical-align:text-top;
font-size:13.999999046325684px;
font-family:Manrope;
left:11.51px;
top:36px;
width:136px;
height:19px;
position:absolute;
line-height:auto;
color:#b7b7b7;
}
.frame3
{
width:328px;
height:54px;
padding-left:5px;
padding-right:5px;
padding-bottom:10px;
display:flex;
flex-direction:column;
gap:10px;
top:216px;
position:relative;
}
.loginbutton
{
width:318px;
height:204px;
padding:0px;
background-color:#ffffff;
top:0px;
left:5px;
position:absolute;
}
.rectangle11
{
border-radius:10px;
width:318px;
height:45px;
background-color:#ded2f9;
}
.login2
{
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Manrope;
left:132.06px;
top:13px;
width:52px;
height:19px;
position:absolute;
line-height:auto;
color:#000000;
}
.이미계정이있다면?
{
text-align:left;
vertical-align:text-top;
font-size:13.999999046325684px;
font-family:Manrope;
line-height:auto;
color:#ffffff;
top:696px;
left:151.5px;
position:absolute;
}
.로그인하기
{
text-align:left;
vertical-align:text-top;
font-size:13.999999046325684px;
font-family:Manrope;
line-height:auto;
color:#91d7e0;
top:794px;
left:214px;
position:absolute;
}
